# Python virtual environments
.venv/

# PyCharm project settings and workspace files
.idea/
*.iml

# Hidden folders
.*/

# Specific files
api.txt
february_test.txt

# Python bytecode directories
__pycache__/
*.py[cod]
